.main-module {
    background-color: rgb(252, 252, 252);
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-top: 1%;
    min-width: 1150px;
}

.padding {
    padding: 0px 0px 10px;
}

.custom-card {
    padding: 10px;
    box-shadow: none;
    text-align: center;
    min-width: min-content;
}

.custom-table {
    th{
        background-color: #F5F5F5;
    }
}

.logout {
    text-align: right;
}