<div class="background">
  <div class="center">
    <mat-card *ngIf="credentials$ | async as credentials">
      <div class="main-module">
        <mat-card-title class="padding">Panel logowania</mat-card-title>
        <mat-card-content>
          <div class="col">
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Login</mat-label>
                <input matInput name="login" class="form-control" required
                [ngrxFormControlState]="credentials.controls.login">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Hasło</mat-label>
                <input matInput name="password" class="form-control" required type="password"
                [ngrxFormControlState]="credentials.controls.password">
              </mat-form-field>
            </div>
            <div class="padding">
              <div class="row">
                <button mat-raised-button (click)="login()">Zaloguj</button>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <div class="padding">  
            <div class="row">
              <button mat-button (click)="register()">Zarejestruj się</button>
            </div>
          </div>
        </mat-card-footer>
      </div>
    </mat-card>
  </div>
</div>
