.main-module {
    text-align: center;
    padding: 10px 50px 0px;
    margin: 10px;
    width: 500px;
}

.padding {
    padding: 0px 0px 10px;
}

.center { 
    padding: 10px;
    height: min-content;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.background{
    width: 100%;
    height: 100%;
    background-color: bisque;
    /*background: url('../../assets/img/cos.png'); */
}